<div class="wrap">
  <h1 class="text-center m-5">PROGRAMMING TASK</h1>
  <div class="container bg-gray">

    <div class="main-body">
      <div class="row">
        <div class="col-md-6 mb-3 left-side">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <h4>Live Timer</h4>
              </div>
              <div class="col-6">
                <button class="btn btn-outline-success btn-sm" type="button">
                  <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                  <span class="sr-only">Loading...</span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-3 right-side">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <h4>Task Tables</h4>
              </div>
              <div class="col-6 text-right">
                <button (click)="openModal(template, 'newTaskAdd')" class="btn btn-outline-primary">
                  <i class="fa fa-plus"></i> Add Task
                </button>

                <ng-template #template>
                  <div class="modal-header">
                    <h5 class="modal-title pull-left">New Task</h5>
                    <button type="button" class="btn-close close pull-right" aria-label="Close"
                            (click)="modalRefObject?.hide()">
                      <span aria-hidden="true" class="visually-hidden">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form #newTaskForm="ngForm" (ngSubmit)="submitForm(newTaskForm)">
                      <div class="form-group">
                        <input name="name" ngModel required type="text" placeholder="Task name" class="form-control">
                      </div>
                      <div class="form-group">
                        <input name="duration" ngModel required type="text" placeholder="Duration(Seconds)"
                               class="form-control">
                      </div>
                      <div class="form-group text-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>

                    </form>


                  </div>
                </ng-template>

              </div>
            </div>
          </div>

          <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr class="text-center">
              <th>Name</th>
              <th>Duration</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Task 1</td>
              <td>150 seconds</td>
              <td><a href="#">Edit</a> | <a href="#">Delete</a></td>
            </tr>
            <tr>
              <td>Task 2</td>
              <td>15 seconds</td>
              <td><a href="#">Edit</a> | <a href="#">Delete</a></td>
            </tr>
            <tr>
              <td>Task 3</td>
              <td>15 seconds</td>
              <td><a href="#">Edit</a> | <a href="#">Delete</a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>


<router-outlet></router-outlet>
